/* Header Style
====================================*/
.header-top{background:#FF0C00; }

/* Service Box Style
====================================*/
.serviceBox_1 .service_icon i{background:#FF0C00;}
.serviceBox_2 h3,
.serviceBox_3 a.read{color:#FF0C00; }
.serviceBox_3 {border:1px solid #FF0C00;}
.serviceBox_3  .service-icon{border:1px solid #FF0C00; color:#FF0C00;}
.serviceBox_3 h3:before,.serviceBox_3  h3:after{ background:#FF0C00;}
.serviceBox_3:hover .service-icon,.serviceBox_4> span{ background:#FF0C00; }

.serviceBox_1 a.read:hover,
.serviceBox_3 a.read:hover{color: #0F7D7B;}

.serviceBox_2 .read a,
.serviceBox_4 .read a{
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #0F7D7B 0%, #0F7D7B 50%, #FF0C00 50%) repeat scroll 100% 0 / 200% 100%;
}

/* Common Background Color Style
====================================*/
.flickr-feed li .hover,
#breadcrumbs,
.swipe-navi .swipe-left,
.swipe-navi .swipe-right,
.highlight.default,
#filter li.selected a:before,
.carousel-pagination li.active
{
    background-color: #FF0C00 !important;
}

/* Common Text Color Style
====================================*/
.testimonial-review small,
.dropcap.default,
.panel-heading:hover a,
.active_acc .panel-title a,
.panel-heading:hover  a,
.panel.panel-default i,
.recent_tab_list li a:hover,
.sidebar .widget ul.arrows_list li a:hover,
.sidebar .widget ul.archives_list li a:hover,
.parallax-testimonial-review small,
.footer li a:hover,.author_bio > h5 a,.author_name > a:hover,.project_details .details li a:hover{
    color: #FF0C00;
}

/* Tabs Style
====================================*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus,
.nav-tabs li.active, .nav-tabs li.active a, .nav-tabs li.active a:hover{ border-top-color:#FF0C00; color:#FF0C00;}

/* List & Bullets Style
====================================*/
.list_style.square li:before,
.list_style.circle li:before{
    background: #FF0C00;
}

.list_style li a:hover,
.multi-icon-list li i.fa,
.list_style.star li:before,
.list_style.right-arrow li:before,
.list_style.hand li:before,
.list_style.play li:before,
.list_style.dubble-right-arrow li:before{
    color: #FF0C00;
}

/* Buttons & Headings Style
====================================*/
.btn-default,
.dropcap_block.default,
.icon_lists .fa-hover a:hover,
.dividerHeading h4::after,
.dividerHeading h4::before,
.widget_title h4::after,
.widget_title h4::before,
.slides .slider-read
{
    background-color:#FF0C00;
}

.theme-color-pt .btn-default{background:#FF0C00;}

.btn-default:hover,
.theme-color-pt .btn-default:hover,
.slider-read:hover {background:#0F7D7B;}

.theme-color-pt .pricingTable:before,
.pricingBlock.theme-color-pt .pricingTable-header .price-value{ background-color: #FF0C00 !important;}

.page_title h2{border-color:#FF0C00;}

/* Blog Page Style
====================================*/
#site-searchform #searchsubmit,
.tags li a:hover,
.shares li a:hover,
.blogPic .blog-hover .icon,
.blog_medium .day,
.blog_large .day, .blog_single .day,
.author_desc{
    background-color: #FF0C00;
}

#site-searchform #searchsubmit:hover{background-color:#FF0C00;}
.panel.active_acc, .panel:hover{border-top-color:#FF0C00;}

.comment-container:hover {border-color:#FF0C00;}
.form-control:focus,#site-searchform #s:focus {border-color:#FF0C00;box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 139, 139, 0.6);}

blockquote.default,.theme-color-pt .pricingTable{border-color:#FF0C00;}

.blogMeta a:hover, .blogTitle span:hover,
.blog_large .post_meta h2:hover a, .blog_single .post_meta h2:hover a,
.blogTitle > a:hover h2,
.blog_large .post_meta .metaInfo > span > a:hover, .blog_single .post_meta .metaInfo > span > a:hover,
.blog_medium .post_meta .metaInfo > span > a:hover,
.blog_medium .post_meta h2:hover a,
#comment-list li .comment-container:hover a,
#comment-list li .comment-container:hover .comment-date,
.comments_list a,
.masonry_wrapper_blog .metaInfo a:hover,
.blog-item > span a:hover,
.blog-title a:hover
{
    color: #FF0C00;
}

/* Home Page Style
====================================*/
.social_media_team{background:rgba(0, 139, 139, 0.55);}

.post-detail a:hover{ color: #FF0C00;}
.post-detail .read-more { color: #FF0C00;}
.post-detail .read-more:hover{ color:#0F7D7B;}

.testimonial-item blockquote {border-top: 3px solid #FF0C00;}
.testimonial-review > img {border: 2px solid #FF0C00;}

.progress_skill .bar {background:#FF0C00;}
.progress_skill:hover .bar { background:#FF0C00 !important;}

/* Portfolio & Recent Item Style
====================================*/
#filter li a{background-color:#FF0C00;}
#filter li.selected a, #filter li a:hover{background-color: #FF0C00;}

figure.effect-bubba {
    background: #FF0C00;
}

.touching  .option a:hover{color: #FF0C00;}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background:#FF0C00;
    border-color: #FF0C00;
}

/* Navigation Menu Bar Style
====================================*/
.navbar-nav > li > a:hover,.navbar-nav > li > a:focus,.navbar-nav > li.active > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus
{
    background:#FF0C00!important;
    color:#fff!important;
}
.navbar-default .navbar-nav > li > a > span.data-hover::before {background: #FF0C00;}

.navbar-nav > li.active {
    background: #0F7D7B;
}
.navbar-nav > li:hover{
    background: #FF0C00;
    transition:all 0.2s ease-in-out 0s;
}

.navbar-nav > li > ul:before{ border-bottom-color:#FF0C00; }
.navbar-nav .dropdown-menu > li > a:hover{ background:#FF0C00; color: #fff; }

@media only screen and (max-width: 767px) {
    .navbar-nav > li > a:hover,.navbar-nav > li > a:focus,.navbar-nav > li.active > a,
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus,
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus
    {
        background:#FF0C00 !important;
        color:#fff!important;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus
    {
        background:#FF0C00;
        color:#fff;
    }

}